<html>

<head>
    <title>Vue Testing</title>
    <script src="vue.min.js"></script>
</head>

<body>
    <div id="app">
        <h1>Hi Navy Developer!</h1>
        <h2>Data Render</h2>
        {{message}} {{name}}!

        <h2>Event</h2>
        <button v-on:click="handleChange">Change Name</button>

        <h2>Data Binding</h2>
        <div title="title">No Data Binding</div>
        <div v-bind:title="title">Data Binding</div>

        <h2>If</h2>
        <div v-if="seen">Now you see me</div>
        <button v-on:click="handleHideShow">Hide/Show</button>

        <h2>For Each</h2>
        <ul>
            <li v-for="(student, index) in students" :key="index">
                Name: {{student.name}} Gender: {{student.gender}} <button @click="handleRemove(index)"> - </button>
            </li>
        </ul>
        <button @click="handleAddMore"> + </button>

        <h2>V Model</h2>
        <input v-model="modelVal" @keyup.enter="alert('Keyup Enter')"> {{modelVal}}
        <button v-on:click="handleModelChange">Change Model</button>

        <h2>Compute</h2>
        {{reverseName}}

        <h2>Watch</h2>
        {{watcherVal}}
    </div>

    <script>
        var app = new Vue({
            el: '#app',
            // Data/Helper
            data: {
                message: 'Hello',
                name: 'Rabbit',
                title: 'Data Binding Title',
                seen: true,
                students: [
                    { name: 'Chea', gender: 'M' },
                    { name: 'Nith', gender: 'M' },
                    { name: 'Navy', gender: 'M' }
                ],
                modelVal: 'My Model',
                watcherVal: 'My Watcher',
            },
            // Compute
            computed: {
                reverseName() {
                    return this.name.split('').reverse().join('');
                }
            },
            // Watch
            watch: {
                modelVal(val, oldVal) {
                    this.watcherVal = this.watcherVal + ' : ' + val;
                },
            },
            // Method/Event
            methods: {
                handleChange() {
                    this.name = 'Battambang';
                },
                handleHideShow() {
                    this.seen = !this.seen;
                },
                handleModelChange() {
                    this.modelVal = 'Model is changed'
                },
                handleAddMore() {
                    this.students.push({ name: 'A', gender: 'M' });
                },
                handleRemove(index) {
                    this.students.splice(index, 1);
                }
            }
            // Lifecycle
            // beforeCreate() {
            //     console.log('before create');
            // },
            // created() {
            //     console.log('created');
            // },
            // beforeMount() {
            //     console.log('beforeMount');
            // },
            // mounted() {
            //     console.log('mounted');
            // },
            // beforeUpdate() {
            //     console.log('beforeUpdate');
            // },
            // updated() {
            //     console.log('updated');
            // },
            // beforeDestroy() {

            // },
            // destroyed() {

            // },
        })
    </script>
</body>

</html>